h1,
h2,
h3 {
  margin: 0;
}

body, .header__buttons-about, .contact__form-submit, .header__buttons-portfolio {
  color: #000;
  letter-spacing: 0.55rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14rem;
}

.contact__container, .useful__container, .header__container {
  width: 1140rem;
  box-sizing: border-box;
  border: 1rem solid #000;
  border-top: none;
  border-bottom: none;
  z-index: 1;
}
@media (max-width: 320px) {
  .contact__container, .useful__container, .header__container {
    width: 320rem;
    border: none !important;
  }
}

.header__buttons-about, .contact__form-submit, .header__buttons-portfolio {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  padding: 12rem 25rem;
}

.contact__form-submit, .header__buttons-portfolio {
  background: #ffa501;
  box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.15);
  padding: 12rem 25rem;
}

.contact__subtitle::before, .useful .item::before, .useful__subtitle::before, .header__name::before {
  content: "";
  width: 36rem;
  height: 36rem;
  background: #ffa501;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
}

.contact__title::after, .useful__title::after {
  content: "";
  width: 60rem;
  height: 1rem;
  background-color: #ffa501;
  position: absolute;
}

html {
  font-size: 0.0520833333vw;
}
@media (max-width: 320px) {
  html {
    font-size: 0.3125vw;
  }
}

body {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

.navbar {
  box-sizing: border-box;
  width: 345rem;
  height: 100vh;
  background-color: #ffa501;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 140rem 0 50rem 40rem;
  z-index: 10;
  display: none;
}
@media (max-width: 320px) {
  .navbar {
    width: 250rem;
    padding-left: 20rem;
    padding-top: 120rem;
  }
}
.navbar__cross {
  position: absolute;
  top: 33rem;
  right: 50rem;
  cursor: pointer;
}
.navbar__line {
  display: block;
  position: absolute;
  width: 40rem;
  height: 4rem;
  background-color: #000;
  border-radius: 2rem;
}
.navbar__line:first-child {
  transform: rotate(45deg);
}
.navbar__line:last-child {
  transform: rotate(-45deg);
}
.navbar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15rem;
  padding-left: 35rem;
}
.navbar__item {
  color: #ffffff;
  font-size: 24rem;
  line-height: 36rem;
  text-transform: uppercase;
  cursor: pointer;
}
.navbar__item::before {
  content: "";
  width: 15rem;
  height: 15rem;
  border: 1rem solid #000;
  border-radius: 100%;
  position: absolute;
  margin-left: -35rem;
  margin-top: 10rem;
}
.navbar__links {
  display: flex;
  gap: 15rem;
  margin-top: 300rem;
  margin-left: 90rem;
}
@media (max-width: 320px) {
  .navbar__links {
    margin-top: 140rem;
    margin-left: 60rem;
  }
}

.header {
  height: 800rem;
  background-color: #bce5f9;
  box-shadow: 0 4rem 4rem 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}
@media (max-width: 320px) {
  .header {
    overflow: hidden;
    height: 640rem;
    padding-left: 10rem;
  }
}
.header::after {
  content: "";
  width: 820rem;
  height: 800rem;
  background-image: url(./img/woman.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 903rem;
}
@media (max-width: 320px) {
  .header::after {
    bottom: -190rem;
    left: 120rem;
    width: 350rem;
    aspect-ratio: 820/800;
  }
}
.header__socials {
  width: 340rem;
  height: 24rem;
  transform: rotate(-90deg);
  display: flex;
  gap: 15rem;
  align-items: center;
  position: absolute;
  top: 383rem;
  left: -107rem;
}
@media (max-width: 320px) {
  .header__socials {
    display: none;
  }
}
.header__socials-title {
  margin-right: 85rem;
  font-size: 16rem;
}
.header__socials-title::after {
  content: "";
  width: 70rem;
  height: 1px;
  background-color: #000;
  position: absolute;
  margin-left: 15rem;
  margin-top: 11.5rem;
}
.header__link {
  display: block;
  width: 20rem;
  height: 20rem;
}
.header__img {
  display: block;
  width: 100%;
  height: 100%;
}
.header__container {
  border-top: 1rem solid #000;
  padding-top: 206rem;
}
.header__name {
  font-size: 16rem;
  line-height: 24rem;
  position: relative;
  margin-left: 10rem;
}
.header__name::before {
  margin: auto -11rem;
  top: 0;
  bottom: 0;
  text-align: center;
}
.header__title {
  font-size: 48rem;
  line-height: 60rem;
  max-width: 532rem;
  margin-top: 9rem;
}
@media (max-width: 320px) {
  .header__title {
    font-size: 26rem;
    line-height: 39rem;
  }
}
.header__buttons {
  margin-top: 32rem;
}
.header__buttons-about {
  margin-left: 13rem;
}
.header__burger {
  width: 36rem;
  height: 21rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: end;
  position: absolute;
  top: 20rem;
  right: 30rem;
  cursor: pointer;
}
.header__burger-line {
  width: 30rem;
  height: 3rem;
  background-color: #000;
}
.header__burger-line:nth-child(2) {
  width: 36rem;
}

.useful {
  height: 800rem;
  display: flex;
  justify-content: center;
}
.useful__container {
  border-top: none;
  padding: 120rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 320px) {
  .useful__container {
    padding-top: 40rem;
  }
}
.useful__subtitle {
  font-size: 16rem;
  line-height: 24rem;
  position: relative;
}
.useful__subtitle::before {
  left: 5rem;
  top: -6rem;
}
.useful__title {
  font-size: 36rem;
  line-height: 60rem;
  margin-top: 6rem;
  margin-bottom: 85rem;
  position: relative;
}
@media (max-width: 320px) {
  .useful__title {
    font-size: 26rem;
    line-height: 39rem;
  }
}
.useful__title::after {
  left: 152.5rem;
  bottom: -21rem;
}
@media (max-width: 320px) {
  .useful__title::after {
    left: 98rem;
  }
}
.useful__topics {
  width: 1140rem;
  display: flex;
  gap: 185rem;
}
@media (max-width: 320px) {
  .useful__topics {
    width: 320rem;
    flex-direction: column;
    gap: 40rem;
  }
}
.useful .topic-education {
  margin-left: 98rem;
}
.useful__topic {
  width: 375rem;
}
@media (max-width: 320px) {
  .useful__topic {
    width: 250rem;
    margin-left: 58rem !important;
  }
}
.useful__topic-title {
  font-size: 20rem;
  line-height: 30rem;
  margin-bottom: 45rem;
  position: relative;
}
.useful__topic-title::before {
  content: "";
  width: 15rem;
  height: 15rem;
  background: #ffa501;
  border-radius: 100%;
  position: absolute;
  top: 9rem;
  left: -50rem;
}
.useful__topic-title::after {
  content: "";
  width: 1rem;
  height: 343rem;
  background: #000;
  position: absolute;
  top: 24rem;
  left: -42.5rem;
}
.useful .item {
  margin-bottom: 50rem;
  position: relative;
}
.useful .item::after {
  content: "";
  width: 42rem;
  height: 1rem;
  background: #000;
  position: absolute;
  top: 18rem;
  left: -42rem;
}
.useful .item__img {
  display: block;
  width: 25rem;
  height: 25rem;
  position: absolute;
  top: 14rem;
  left: 17.5rem;
}
.useful .item__title {
  line-height: 21rem;
  margin-left: 56rem;
}
.useful .item__subtitle {
  font-size: 12rem;
  font-weight: 500;
  line-height: 18rem;
  margin-left: 56rem;
  margin-bottom: 12rem;
}
.useful .item__text {
  font-weight: 500;
  font-size: 12rem;
  line-height: 18rem;
}

.contact {
  display: flex;
  justify-content: center;
}
@media (max-width: 320px) {
  .contact {
    margin-top: 460rem;
  }
}
.contact__container {
  height: 692rem;
  border-bottom: 1rem solid #000;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 520rem;
}
@media (max-width: 320px) {
  .contact__container {
    padding-left: 10rem;
  }
}
.contact__img {
  display: block;
  width: 400rem;
  height: 600rem;
  position: absolute;
  left: 52rem;
}
@media (max-width: 320px) {
  .contact__img {
    display: none;
  }
}
.contact__subtitle {
  font-size: 16rem;
  line-height: 24rem;
  margin: 6rem 12rem 6rem;
}
.contact__subtitle::before {
  top: 0;
  left: 520rem;
}
@media (max-width: 320px) {
  .contact__subtitle::before {
    left: 12rem;
  }
}
.contact__title {
  font-size: 36rem;
  line-height: 60rem;
  position: relative;
}
@media (max-width: 320px) {
  .contact__title {
    font-size: 24rem;
  }
}
.contact__title::after {
  top: 60rem;
  left: 0;
}
.contact__links {
  display: flex;
  gap: 25rem;
  margin-bottom: 20rem;
}
.contact__links-title {
  line-height: 21rem;
  margin-top: 24rem;
  margin-bottom: 20rem;
}
.contact__links-a {
  display: block;
  width: 30rem;
  height: 30rem;
}
.contact__links-img {
  display: block;
  width: 100%;
  height: 100%;
}
.contact__form {
  display: flex;
  flex-wrap: wrap;
  gap: 25rem;
  position: relative;
}
@media (max-width: 320px) {
  .contact__form {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
}
.contact__form-title {
  margin-bottom: 30rem;
}
.contact__form-label {
  font-size: 12rem;
  font-weight: 500;
  height: 18rem;
  padding: 0 8rem;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: absolute;
}
.contact__form .label-name {
  top: -9rem;
  left: 9rem;
}
.contact__form .label-email {
  top: -9rem;
  left: 317rem;
}
@media (max-width: 320px) {
  .contact__form .label-email {
    top: 62rem;
    left: 9rem;
  }
}
.contact__form .label-message {
  top: 66rem;
  left: 9rem;
}
@media (max-width: 320px) {
  .contact__form .label-message {
    top: 137rem;
  }
}
.contact__form .label-checkbox {
  display: none;
}
@media (max-width: 320px) {
  .contact__form .label-checkbox {
    display: block;
    top: 307rem;
    left: 95rem;
  }
  .contact__form .label-checkbox span {
    color: #2306d6;
  }
}
.contact__form-validation {
  color: red;
  font-size: 12rem;
  font-weight: 400;
  position: absolute;
}
@media (max-width: 320px) {
  .contact__form-validation {
    left: 17rem !important;
  }
}
.contact__form .validation-name {
  top: 45rem;
  left: 9rem;
}
.contact__form .validation-email {
  top: 45rem;
  left: 317rem;
}
@media (max-width: 320px) {
  .contact__form .validation-email {
    top: 115rem;
  }
}
.contact__form .validation-message {
  top: 265rem;
  left: 9rem;
}
@media (max-width: 320px) {
  .contact__form .validation-message {
    top: 289rem;
  }
}
.contact__form .validation-checkbox {
  display: none;
}
@media (max-width: 320px) {
  .contact__form .validation-checkbox {
    display: block;
    top: 307rem;
    left: 90rem !important;
  }
}
.contact__form-input {
  box-sizing: border-box;
  width: 280rem;
  height: 45rem;
  border: 1rem solid #000000;
}
@media (max-width: 320px) {
  .contact__form-input {
    width: 300rem;
  }
}
.contact__form-checkbox {
  display: none;
}
@media (max-width: 320px) {
  .contact__form-checkbox {
    display: block;
    margin-right: 150rem;
  }
}
.contact__form .textarea {
  width: 585rem;
  height: 190rem;
  margin-top: 6rem;
  padding-top: 5rem;
}
@media (max-width: 320px) {
  .contact__form .textarea {
    width: 300rem;
    height: 143rem;
  }
}
.contact__form-submit {
  margin-top: 1rem;
}/*# sourceMappingURL=style.css.map */