h1,
h2,
h3 {
  margin: 0;
}

%font {
  color: #000;
  letter-spacing: 0.55rem;
  font: {
    family: "Poppins", sans-serif;
    weight: 700;
    style: normal;
    size: 14rem;
  }
}

%container {
  width: 1140rem;
  box-sizing: border-box;
  border: 1rem solid #000;
  border-top: none;
  border-bottom: none;
  z-index: 1;

  @media (max-width: 320px) {
    width: 320rem;
    border: none !important;
  }
}

%button {
  @extend %font;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  padding: 12rem 25rem;
}

%orange-button {
  @extend %button;
  background: #ffa501;
  box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.15);
  padding: 12rem 25rem;
}

%circle {
  content: "";
  width: 36rem;
  height: 36rem;
  background: #ffa501;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
}

%line {
  content: "";
  width: 60rem;
  height: 1rem;
  background-color: #ffa501;
  position: absolute;
}

html {
  font-size: calc(1vw / 19.2);

  @media (max-width: 320px) {
    font-size: calc(1vw / 3.2);
  }
}

body {
  @extend %font;
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

.navbar {
  box-sizing: border-box;
  width: 345rem;
  height: 100vh;
  background-color: #ffa501;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 140rem 0 50rem 40rem;
  z-index: 10;
  display: none;

  @media (max-width: 320px) {
    width: 250rem;
    padding-left: 20rem;
    padding-top: 120rem;
  }

  &__cross {
    position: absolute;
    top: 33rem;
    right: 50rem;
    cursor: pointer;
  }

  &__line {
    display: block;
    position: absolute;
    width: 40rem;
    height: 4rem;
    background-color: #000;
    border-radius: 2rem;

    &:first-child {
      transform: rotate(45deg);
    }
    &:last-child {
      transform: rotate(-45deg);
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15rem;
    padding-left: 35rem;
  }

  &__item {
    color: #ffffff;
    font-size: 24rem;
    line-height: 36rem;
    text-transform: uppercase;
    cursor: pointer;

    &::before {
      content: "";
      width: 15rem;
      height: 15rem;
      border: 1rem solid #000;
      border-radius: 100%;
      position: absolute;
      margin-left: -35rem;
      margin-top: 10rem;
    }
  }

  &__links {
    display: flex;
    gap: 15rem;
    margin-top: 300rem;
    margin-left: 90rem;

    @media (max-width: 320px) {
      margin-top: 140rem;
      margin-left: 60rem;
    }
  }
}

.header {
  height: 800rem;
  background-color: #bce5f9;
  box-shadow: 0 4rem 4rem 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;

  @media (max-width: 320px) {
    overflow: hidden;
    height: 640rem;
    padding-left: 10rem;
  }

  &::after {
    content: "";
    width: 820rem;
    height: 800rem;
    background-image: url(./img/woman.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    left: 903rem;

    @media (max-width: 320px) {
      bottom: -190rem;
      left: 120rem;
      width: 350rem;
      aspect-ratio: 820/800;
    }
  }

  &__socials {
    width: 340rem;
    height: 24rem;
    transform: rotate(-90deg);
    display: flex;
    gap: 15rem;
    align-items: center;
    position: absolute;
    top: 383rem;
    left: -107rem;

    @media (max-width: 320px) {
      display: none;
    }

    &-title {
      margin-right: 85rem;
      font-size: 16rem;

      &::after {
        content: "";
        width: 70rem;
        height: 1px;
        background-color: #000;
        position: absolute;
        margin-left: 15rem;
        margin-top: 11.5rem;
      }
    }
  }

  &__link {
    display: block;
    width: 20rem;
    height: 20rem;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__container {
    @extend %container;
    border-top: 1rem solid #000;
    padding-top: 206rem;
  }

  &__name {
    font-size: 16rem;
    line-height: 24rem;
    position: relative;
    margin-left: 10rem;

    &::before {
      @extend %circle;
      margin: auto -11rem;
      top: 0;
      bottom: 0;
      text-align: center;
    }
  }

  &__title {
    font-size: 48rem;
    line-height: 60rem;
    max-width: 532rem;
    margin-top: 9rem;

    @media (max-width: 320px) {
      font-size: 26rem;
      line-height: 39rem;
    }
  }

  &__buttons {
    margin-top: 32rem;

    &-about {
      @extend %button;
      margin-left: 13rem;
    }

    &-portfolio {
      @extend %orange-button;
    }
  }

  &__burger {
    width: 36rem;
    height: 21rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: end;
    position: absolute;
    top: 20rem;
    right: 30rem;
    cursor: pointer;

    &-line {
      width: 30rem;
      height: 3rem;
      background-color: #000;
      &:nth-child(2) {
        width: 36rem;
      }
    }
  }
}

.useful {
  height: 800rem;
  display: flex;
  justify-content: center;

  &__container {
    @extend %container;
    border-top: none;
    padding: 120rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 320px) {
      padding-top: 40rem;
    }
  }

  &__subtitle {
    font-size: 16rem;
    line-height: 24rem;
    position: relative;

    &::before {
      @extend %circle;
      left: 5rem;
      top: -6rem;
    }
  }

  &__title {
    font-size: 36rem;
    line-height: 60rem;
    margin-top: 6rem;
    margin-bottom: 85rem;
    position: relative;

    @media (max-width: 320px) {
      font-size: 26rem;
      line-height: 39rem;
    }

    &::after {
      @extend %line;
      left: 152.5rem;
      bottom: -21rem;

      @media (max-width: 320px) {
        left: 98rem;
      }
    }
  }

  &__topics {
    width: 1140rem;
    display: flex;
    gap: 185rem;

    @media (max-width: 320px) {
      width: 320rem;
      flex-direction: column;
      gap: 40rem;
    }
  }

  .topic-education {
    margin-left: 98rem;
  }

  &__topic {
    width: 375rem;

    @media (max-width: 320px) {
      width: 250rem;
      margin-left: 58rem !important;
    }

    &-title {
      font-size: 20rem;
      line-height: 30rem;
      margin-bottom: 45rem;
      position: relative;

      &::before {
        content: "";
        width: 15rem;
        height: 15rem;
        background: #ffa501;
        border-radius: 100%;
        position: absolute;
        top: 9rem;
        left: -50rem;
      }

      &::after {
        content: "";
        width: 1rem;
        height: 343rem;
        background: #000;
        position: absolute;
        top: 24rem;
        left: -42.5rem;
      }
    }
  }

  .item {
    margin-bottom: 50rem;
    position: relative;

    &::before {
      @extend %circle;
    }

    &::after {
      content: "";
      width: 42rem;
      height: 1rem;
      background: #000;
      position: absolute;
      top: 18rem;
      left: -42rem;
    }

    &__img {
      display: block;
      width: 25rem;
      height: 25rem;
      position: absolute;
      top: 14rem;
      left: 17.5rem;
    }

    &__title {
      line-height: 21rem;
      margin-left: 56rem;
    }

    &__subtitle {
      font-size: 12rem;
      font-weight: 500;
      line-height: 18rem;
      margin-left: 56rem;
      margin-bottom: 12rem;
    }

    &__text {
      font-weight: 500;
      font-size: 12rem;
      line-height: 18rem;
    }
  }
}

.contact {
  display: flex;
  justify-content: center;
  @media (max-width: 320px) {
    margin-top: 460rem;
  }

  &__container {
    @extend %container;
    height: 692rem;
    border-bottom: 1rem solid #000;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 520rem;

    @media (max-width: 320px) {
      padding-left: 10rem;
    }
  }

  &__img {
    display: block;
    width: 400rem;
    height: 600rem;
    position: absolute;
    left: 52rem;

    @media (max-width: 320px) {
      display: none;
    }
  }

  &__subtitle {
    font-size: 16rem;
    line-height: 24rem;
    margin: 6rem 12rem 6rem;

    &::before {
      @extend %circle;
      top: 0;
      left: 520rem;

      @media (max-width: 320px) {
        left: 12rem;
      }
    }
  }

  &__title {
    font-size: 36rem;
    line-height: 60rem;
    position: relative;

    @media (max-width: 320px) {
      font-size: 24rem;
    }

    &::after {
      @extend %line;
      top: 60rem;
      left: 0;
    }
  }

  &__links {
    display: flex;
    gap: 25rem;
    margin-bottom: 20rem;

    &-title {
      line-height: 21rem;
      margin-top: 24rem;
      margin-bottom: 20rem;
    }

    &-a {
      display: block;
      width: 30rem;
      height: 30rem;
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 25rem;
    position: relative;

    @media (max-width: 320px) {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
    }

    &-title {
      margin-bottom: 30rem;
    }

    &-label {
      font-size: 12rem;
      font-weight: 500;
      height: 18rem;
      padding: 0 8rem;
      display: flex;
      justify-content: center;
      background-color: #ffffff;
      position: absolute;
    }

    .label-name {
      top: -9rem;
      left: 9rem;
    }

    .label-email {
      top: -9rem;
      left: 317rem;

      @media (max-width: 320px) {
        top: 62rem;
        left: 9rem;
      }
    }

    .label-message {
      top: 66rem;
      left: 9rem;

      @media (max-width: 320px) {
        top: 137rem;
      }
    }

    .label-checkbox {
      display: none;
      @media (max-width: 320px) {
        display: block;
        top: 307rem;
        left: 95rem;
        span {
          color: #2306d6;
        }
      }
    }

    &-validation {
      color: red;
      font-size: 12rem;
      font-weight: 400;
      position: absolute;

      @media (max-width: 320px) {
        left: 17rem !important;
      }
    }

    .validation-name {
      top: 45rem;
      left: 9rem;
    }

    .validation-email {
      top: 45rem;
      left: 317rem;

      @media (max-width: 320px) {
        top: 115rem;
      }
    }

    .validation-message {
      top: 265rem;
      left: 9rem;

      @media (max-width: 320px) {
        top: 289rem;
      }
    }

    .validation-checkbox {
      display: none;
      @media (max-width: 320px) {
        display: block;
        top: 307rem;
        left: 90rem !important;
      }
    }

    &-input {
      box-sizing: border-box;
      width: 280rem;
      height: 45rem;
      border: 1rem solid #000000;

      @media (max-width: 320px) {
        width: 300rem;
      }
    }

    &-checkbox {
      display: none;
      @media (max-width: 320px) {
        display: block;
        margin-right: 150rem;
      }
    }

    .textarea {
      width: 585rem;
      height: 190rem;
      margin-top: 6rem;
      padding-top: 5rem;

      @media (max-width: 320px) {
        width: 300rem;
        height: 143rem;
      }
    }
    &-submit {
      margin-top: 1rem;
      @extend %orange-button;
    }
  }
}
